flows.json
[{"id":"fe81e82d.7e5ec8","type":"tab","label":"Electricity Monitor","disabled":false,"info":"DROP CONTINUOUS QUERY electrical_power ON \"measurements\"\nDROP CONTINUOUS QUERY heat_power ON \"measurements\"\nCREATE CONTINUOUS QUERY electrical_power ON \"measurements\" RESAMPLE EVERY 1m FOR 1h BEGIN SELECT integral(value, 1h) * 0.240 AS electrical INTO \"measurements\".autogen.combined_power FROM \"measurements\".autogen.amps GROUP BY time(1h) fill(0) END\nCREATE CONTINUOUS QUERY heat_power ON \"measurements\" RESAMPLE EVERY 1m FOR 1d BEGIN SELECT sum(value) AS heat INTO \"measurements\".autogen.combined_power FROM \"measurements\".autogen.heat GROUP BY time(1h) fill(0) END\n"},{"id":"b757189f.208748","type":"inject","z":"fe81e82d.7e5ec8","name":"Trigger","topic":"","payload":"","payloadType":"date","repeat":"3","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":140,"wires":[["424115e1.735dcc"]]},{"id":"424115e1.735dcc","type":"exec","z":"fe81e82d.7e5ec8","command":"heyu show oregon","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":420,"y":140,"wires":[["9bf5884a.e01138"],[],[]]},{"id":"9bf5884a.e01138","type":"function","z":"fe81e82d.7e5ec8","name":"Extract Value","func":"let regex = /^([A-Z]\\d)\\s.*Curr\\s+(\\d+\\.\\d+)A/;\nlet [, code, value] = regex.exec(msg.payload) || [];\n\nmsg.payload = parseFloat(value)\n\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":140,"wires":[["df420b46.f5cc08"]]},{"id":"df420b46.f5cc08","type":"rbe","z":"fe81e82d.7e5ec8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":880,"y":140,"wires":[["59f19d14.c7aca4","6269d0a6.e86a4"]]},{"id":"59f19d14.c7aca4","type":"influxdb out","z":"fe81e82d.7e5ec8","influxdb":"4e2b9fde.63c72","name":"InfluxDB Write","measurement":"amps","precision":"","retentionPolicy":"","x":420,"y":280,"wires":[]},{"id":"6269d0a6.e86a4","type":"debug","z":"fe81e82d.7e5ec8","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":1030,"y":60,"wires":[]},{"id":"4e2b9fde.63c72","type":"influxdb","z":"","hostname":"milneac4.miniserver.com","port":"8086","protocol":"http","database":"measurements","name":"","usetls":false,"tls":""}]